<!--
---
title: Home
description: Welcome to the River City Rainbow Collective!
---
-->

<!-- Custom HTML site displayed as the Home chapter -->

{% extends "base.html" %}
{% block tabs %}
{{ super() }}
<style>
.md-main {
  height: 0;
  min-height: 0;
  overflow: hidden;
}
.md-main__inner {
  display: flex;
  height: 100%;
}
@media screen and (min-width:60em) {
  .md-sidebar--secondary {
      display: none
  }
}
@media screen and (min-width:76.25em) {
  .md-sidebar--primary {
      display: none
  }
}
</style>

<!-- Emergency Exit Button -->
<button onclick="emergencyExit()" class="emergency-button" id="emergency-exit" title="No tea, no shade, just fade">
    Safety Exit
</button>

<script>
function emergencyExit() {
    // Navigate to Google on current tab
    window.location.href = 'https://www.google.com';
    
    // Open Google in a new tab
    window.open('https://www.google.com', '_blank');
}
</script>

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <!-- <div class="tx-hero__image">
          <img src="assets/logo.svg" draggable="false">
        </div> -->
        <div class="tx-hero__content">
          <img src="assets/homeLogo.svg" draggable="false">
          <!-- <h1> River City Rainbow Collective </h1> -->
          <p>Be the support you wish to receive</p>
          <!-- <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary"> -->
          <a href="/welcome" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
            Let's Get Started 🌈
          </a>
        </div>
      </div>
    </div>
</section>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}